<div class="my-4">
    <h4 class="mb-3">Advanced Tuning Parameters</h4>
    <p>
        These advanced parameters allowed you to have more control over the PostgreSQL database settings, such as
        higher memory utilization per connection, connection scaling, future-proofing your server against multiple
        profiles, and more.
        Some benefits of these advanced settings are:
        - Reduce fine-grained memory control (session-based memory tuning) by application.
        - Higher WAL utilization for high-transactional databases.
        - ...

    </p>

    <button aria-controls="advancedSettings" aria-expanded="false" class="btn btn-secondary"
            data-bs-target="#advancedSettings"
            data-bs-toggle="collapse" type="button">
        Show Advanced Settings
    </button>
    <div class="collapse" id="advancedSettings">
        <div class="card card-body my-3">
            {% include './tuner/advance/adv.conn.min.html' %}
            {% include './tuner/advance/adv.mem.min.html' %}
            {% include './tuner/advance/adv.log.min.html' %}
            {% include './tuner/advance/adv.wal.min.html' %}
            {% include './tuner/advance/adv.autovacuum.min.html' %}
        </div>
    </div>
</div>