<!DOCTYPE html>
<html lang="en">
{% include './head.min.html' %}

<!-- Include Bootstrap JS at the end of the body (ensure proper collapse and interactivity) -->
{% include './header.min.html' %}

<body>
<div class="container my-4">
    <h2 class="mb-4">PGTuner Input Form</h2>

    <!-- Workload and Optimization Mode -->
    {% include './tuner/workload.min.html' %}

    <!-- System Profiles -->
    {% include './tuner/system.min.html' %}

    <!-- Disk and WAL Specifications -->
    {% include './tuner/volume.min.html' %}

    <!-- Data Integrity, Transaction, Crash Recovery, and Replication -->
    {% include './tuner/integrity.min.html' %}

    <!-- User/Format Tuning Options -->
    {% include './tuner/format.min.html' %}

    <!-- Advanced Settings -->
    {% include './tuner/advanced.min.html' %}

    <!-- Generate Button and Response Box -->
    {% include './tuner/response.min.html' %}
</div>

</body>
<script>
    // Wait until the bootstrap.bundle.min.js is loaded
    // let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    // let tooltipList = tooltipTriggerList.map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    const popoverList = popoverTriggerList.map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
</html>